---

import SmallButton from './smallButton.astro'

// icons
import GithubIcon from './icons/github-icon.astro'
import LinkedinIcon from './icons/linkedin-icon.astro'
import EmailIcon from './icons/email-icon.astro'
import CVIcon from './icons/id-card-icon.astro'

interface Props {
    title: string
    cargo: string
    description: string
}

const {title, cargo, description} = Astro.props
---

<section id="presentacion">
    <div class="container">
        <div class="my-image">
            <img src="../../../public/cv_pic.jpeg" alt="imagen de presentacion">
        </div>
    
    
        <div class="desc-n-buttons">
    
            <div class="title-n-desc">
                <h1>{title}</h1>
                <h3>{cargo}</h3>
                <p>{description}</p>
            </div>
    
            <div class="buttons-container">
                <SmallButton title='GitHub' href='https://github.com/pabrax'>
                    <GithubIcon/>
                </SmallButton>
                
                <SmallButton title='Linkedin' href='https://www.linkedin.com/in/pabrax/'>
                    <LinkedinIcon/>
                </SmallButton>
                
                <SmallButton title='Email' href='mailto:soypablo0420@gmail.com'>
                    <EmailIcon/>
                </SmallButton>
    
                <SmallButton title='CV' href='../../public/CV_Dev_2024.pdf'>
                    <CVIcon/>
                </SmallButton>
            </div>
        </div>
    </div>
    <hr>

</section>


<style>
    section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .container {
        display: flex;
        width: 80%;
        gap: 5rem;
    }

    .my-image {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-image > img {
        border-radius: 50%;
        width: 300px;
        height: 300px;

    }

    .desc-n-buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    

    .title-n-desc {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 1rem;
    }

    .title-n-desc > h1 {
        font-size: 3rem;
        color: #B44CE4;
    }
    
    .title-n-desc > h3 {
        font-size: 2rem;
    }
    .title-n-desc > p {
        font-size: 1.2rem;
    }

    .buttons-container {
        display: flex;
        margin: 0;
        justify-content: space-between;

    }

    hr {
        width: 100%;
        border: 1px solid #7E808C;
    }


    @media (max-width: 1366px) {
        .container {
            align-items: center;
            gap: 3rem;
        }

        .my-image {
            width: 60%;
        }

        .my-image > img {
            width: 250px;
            height: 250px;
        }

        .title-n-desc > h1 {
            font-size: 2.5rem;
        }

        .title-n-desc > h3 {
            font-size: 1.5rem;
        }

        .title-n-desc > p {
            font-size: 1rem;
        }

        .buttons-container {
            gap: 1rem;
        }
        hr {
            width: 90%;
        }	
    }

    @media (max-width: 1000px) {
        .container {
            flex-direction: column;

            width: 90%;
        }

        .my-image {
            width: 80%;
        }

        .my-image > img {
            width: 200px;
            height: 200px;
        }

        .title-n-desc {
        }
        text-align: center;
        .title-n-desc > h1 {
            font-size: 2rem;
        }

        .title-n-desc > h3 {
            font-size: 1.2rem;
        }

        .title-n-desc > p {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 480px) {
        .container {
            width: 100%;
        }

        .my-image {
            width: 100%;
        }

        .my-image > img {
            width: 150px;
            height: 150px;
        }

        .title-n-desc {
            text-align: center;
        }

        .title-n-desc > h1 {
            font-size: 1.5rem;
        }

        .title-n-desc > h3 {
            font-size: 1rem;
        }

        .title-n-desc > p {
            font-size: 0.8rem;
        }

        .buttons-container {
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
        }
    }


</style>