---

---

<div class="icon-box">
    <slot/>
</div>

<style>
    .icon-box {
        width: 80px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        background: #252326;
        border-radius: 10px;
    }
</style>