---
import TitleSection from "../TitleSection.astro";
import ProjectCard from "./ProjectCard.astro";
import IconBox from "./IconBox.astro";

// icons
import AstroIcon from "../icons/tech/astro-icon.astro";
import CssIcon from "../icons/tech/css-icon.astro";

import NodejsIcon from "../icons/tech/nodejs-icon.astro";
import AngularIcon from "../icons/tech/angular-icon.astro";
import HtmlIcon from "../icons/tech/html-icon.astro";
import DotnetIcon from "../icons/tech/dotnet-icon.astro";
import PhpIcon from "../icons/tech/php-icon.astro";
import LaravelIcon from "../icons/tech/laravel-icon.astro";
import PowershellIcon from "../icons/tech/powershell-icon.astro";
import PythonIcon from "../icons/tech/python-icon.astro";
import BashIcon from "../icons/tech/bash-icon.astro";
import ReactIcon from "../icons/tech/react-icon.astro";
---

<section id="proyectos">
  <TitleSection title="Proyectos" />

  <div class="projects">
    <ProjectCard
      title="Gestion Profesoral"
      description="Plataforma académica para gestión profesoral con backend en C#, base de datos SQL Server y cliente en Angular."
      image="/PortFolio/gestion_profesoral.png"
      href="https://github.com/pabrax/Proyecto_ASW"
    >
      <!-- Tecnologias empleadas -->

      <IconBox>
        <HtmlIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <CssIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <AngularIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <DotnetIcon width="35px" height="35px" />
      </IconBox>
    </ProjectCard>

    <ProjectCard
      title="Moebiuz"
      description="Moebiuz es un proyecto academico para la gestion del tiempo y administracion de tareas, esta creado en NodeJs, MongoDB y javascript vanilla."
      image="/moebiuz_landing.png"
      href="https://github.com/pabrax/proyectoPHP"
    >
      <!-- Tecnologias empleadas -->

      <IconBox>
        <HtmlIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <CssIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <NodejsIcon width="35px" height="35px" />
      </IconBox>
    </ProjectCard>

    <ProjectCard
      title="Win-ToolBox"
      description="Coleccion de scripts en PowerShell para la automatizacion y configuracion de tareas basicas y avanzadas en Windows."
      image="/PortFolio/powershell_scripts.png"
      href="https://github.com/pabrax/Win-Toolbox"
    >
      <!-- Tecnologias empleadas -->

      <IconBox>
        <PowershellIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <BashIcon width="35px" height="35px" />
      </IconBox>
    </ProjectCard>

    <ProjectCard
      title="Wiky Morty"
      description="Proyecto Creado en React, Consumiendo la API de Rick and Morty para mostrar informacion de los personajes."
      image="/PortFolio/wikimorty_mockup.png"
      href="https://github.com/pabrax/WikiYMorty"
    >
      <!-- Tecnologias empleadas -->

      <IconBox>
        <HtmlIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <CssIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <ReactIcon width="35px" height="35px" />
      </IconBox>
    </ProjectCard>

    <ProjectCard
      title="Gestion De Empleados"
      description="Proyecto Academico de gestion de empleados, roles y tareas creado en Laravel."
      image="/PortFolio/proyecto_php.png"
      href="https://github.com/pabrax/proyectoPHP"
    >
      <!-- Tecnologias empleadas -->

      <IconBox>
        <PhpIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <CssIcon width="35px" height="35px" />
      </IconBox>

      <IconBox>
        <LaravelIcon width="35px" height="35px" />
      </IconBox>
    </ProjectCard>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    width: 80%;
  }
</style>
