---
interface Props {
    title: string
}
const { title } = Astro.props;
---

<div class="card">
    <div class="title-section">
        <h2>{title}</h2>
    </div>
    
    <div class="skills">
        <slot/>
    </div>
</div>


<style>

    .card { 
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        background: #1C191D;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 1rem auto;
    }
    .card:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .title-section {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #434343;
        border-radius: 5px 5px 0 0;
    }

    .title-section > h2 {
        font-size: 1.8rem;
        color: #fff;
        text-align: center;
    }

    .skills {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    @media (max-width: 768px) {
        .skills {
            grid-template-columns: 1fr;
        }
    }

</style>