---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="PortFolio Web">
	
	 <!-- header -->
	<Header />
	
	<div class="container">
		<!-- main Content -->
		<main>
			<Presentation  
				title='Pablo Espinosa (@pabrax)' 
				cargo='Full stack developer' 
				description='descripcion mamalona'
			/>

			<section>
				seccion 1
			</section>

			<section>
				seccion 1
			</section>	
		</main>

	</div>


	<!-- footer -->
	<Footer/>

</Layout>

<style>
	.container {
		display: flex;
		width: auto;
		height: auto;
		justify-content: center;
	}
	
	main {
		display: flex;
		width: 100%;	
		max-width: 1400px;
		align-items: center;
		flex-direction: column;
	}

</style>
