---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PresentationSection from '../components/presentation/presentationSection.astro';
import AboutMeSection from '../components/about-me/AboutMeSection.astro';
import ProjectSection from '../components/projects/ProjectSection.astro';
import SkillSection from '../components/Skills/SkillSection.astro';
import ContactSection from '../components/Contact-me/contactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="PortFolio Web">
	
	 <!-- header -->
	<Header />
	
	<div class="container">
		<!-- main Content -->
		<main>
			<PresentationSection 
				title='Pablo Espinosa (@pabrax)' 
				cargo='Full stack developer' 
				description='+2 Años Programando Aplicaciones, Me especializo en El desarrollo de API REST y SPA.'
			/>

			<AboutMeSection/>

			<ProjectSection/>

			<SkillSection/>

			<ContactSection/>
			
			<!-- footer -->
			<Footer/>
		</main>

	</div>


</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		width: auto;
		height: auto;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
	}
	
	main {
		display: flex;
		width: 100%;	
		max-width: 1400px;
		align-items: center;
		flex-direction: column;
		gap: 7rem;
	}

</style>
