<footer>
    <div class="logo-container">
        <img src="" alt="github">
    </div>

    <button>Regresar</button>

    <div class="logo-container">
        <img src="" alt="linkedin">
    </div>
</footer>

<style>
    footer {
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
</style>