---
import LightDarkMode from "./icons/Light-dark-mode.astro"

---

<nav>
    <div class="lightmode">
        <LightDarkMode/>
    </div>

<ul>
    <li><a href="#">Sobre Mi</a></li>
    <li><a href="#">Proyectos</a></li>
    <li><a href="#">Skills</a></li>
</ul>

    <div class="cv-btn">
        <a href="../../public/CV_Dev_2024.pdf" target="_blank" >CV</a>
    </div>
</nav>


<style>
    nav {
        height: 4rem;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        gap: 20px;
    
        color: white;
        background: #1C191D;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    .lightmode {
        margin-right: auto;
        width: 100px;
        height: 30px;
    }

    ul > li {
        
        display: flex;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;

        background-color: #1E1B1F;

        box-shadow: 0px 4px 2px -2px #181519;

    }

    li > a {
        width: 100%;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
    }

    .cv-btn {

        width: 100px;
        height: 30px;

        border: 3px solid #B44CE4;
        border-radius: 10px;
        
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: auto;
        text-align: center;
    }

    .cv-btn > a {
        width: 100%;
        color: #B44CE4;
        text-decoration: none;
    }

</style>