---
import LightDarkMode from "./icons/Light-dark-mode.astro"
---

<nav>
    <div class="lightmode">
        <LightDarkMode/>
    </div>

    <ul class="nav-links">
        <li><a href="#sobre-mi">Sobre Mi</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#skills">Skills</a></li>
    </ul>

    <div class="cv-btn">
        <a href="/PortFolio/CV_Dev_2024.pdf" target="_blank" >CV</a>
    </div>

    <select class="nav-select" onchange="location = this.value;">
        <option value="#">Menu</option>
        <option value="#sobre-mi">Sobre Mi</option>
        <option value="#proyectos">Proyectos</option>
        <option value="#skills">Skills</option>
        <option value="/PortFolio/CV_Dev_2024.pdf">CV</option>
    </select>
</nav>

<style>
    html {
        scroll-behavior: smooth;
    }
    nav {
        height: 4rem;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        gap: 20px;
    
        color: white;
        background: #1C191D;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .nav-links {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    .lightmode {
        margin-right: auto;
        width: 100px;
        height: 30px;
    }

    .nav-links > li {
        display: flex;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;

        background-color: #1E1B1F;

        box-shadow: 0px 4px 2px -2px #181519;
    }

    .nav-links > li:hover {
        background-color: #1C191D;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    li > a {
        width: 100%;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
    }

    .cv-btn {
        width: 100px;
        height: 30px;

        border: 3px solid #B44CE4;
        border-radius: 10px;
        
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: auto;
        text-align: center;
    }
    .cv-btn:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .cv-btn > a {
        width: 100%;
        color: #B44CE4;
        text-decoration: none;
    }

    .nav-select {
        display: none;
        background-color: #1E1B1F;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    @media (max-width: 900px) {
        .nav-links {
            display: none;
        }

        .menu-button {
            display: block;
        }

        .cv-btn {
            display: none;
        }
        .nav-select {
            display: block;
        }
    }
</style>